<header class="header">
    <div class="header__content-wrapper">
      <a href="#" class="header__logo" aria-hidden="true">
     <strong>Neighbourhood</strong>  
      </a>
      <button class=" hamburger-menu header__hamburger-menu" aria-label="navigation" type="button">
        <span class="hamburger-menu__bar hamburger-menu__bar--top" aria-hidden="ture"></span>
        <span class="hamburger-menu__bar hamburger-menu__bar--middle" aria-hidden="ture"></span>
        <span class="hamburger-menu__bar hamburger-menu__bar--bottom" aria-hidden="ture"></span>
      </button> 

      <nav class="header__nav">
        <ul class="header__links" >
          <li><a href="#" class="header__link" routerLinkActive='active' routerLink="home" >  home</a></li>
          <li><a href="#" class="header__link " routerLink="register" routerLinkActive='active'>  register</a></li>
          <li><a href="#" class="header__link" routerLink="login" routerLinkActive='active' >  login</a></li>
          <li><a href="#" class="header__link" routerLink="profile" routerLinkActive='active'>  profile</a></li>
          <li><a href="#" class="header__link header__link--black" routerLink="posts" routerLinkActive='active'>  View posts</a></li>
        </ul>
      </nav>
    </div>
  </header>