<p>neighbourhood works!</p>
<!-- <button (click)="findHood()">Hood</button>

<div *ngIf="hood.length>0">
<ul *ngFor="let hood of hood">
  <li>name:{{hood.name}}</li>
  <li>hood desc: {{hood.description}}</li>
  <li>location: {{hood.location}}</li>
</ul>
</div>

<form #hoodPost="ngForm" (ngSubmit)="onSubmit(hoodPost.value)" method="POST">
  <input type="text" name="name" ngModel placeholder="hood name"><br>
  <input type="text" name="description" ngModel placeholder="description"><br>
  <input type="text" name="location" ngModel placeholder="location"><br>

  <button type="submit">Add Hood</button>
</form>
<p>updatehood</p>
<form #updatehood="ngForm" (ngSubmit)="updateHood(updatehood.value.id,updatehood.value)" method="POST">
  <input type="text" name="name" ngModel placeholder="hood name"><br>
  <input type="text" name="description" ngModel placeholder="hood description"><br>
  <input type="text" name="location" ngModel placeholder="location"><br>

  <button type="submit">update hood</button>
</form> -->