<body>
    <main class="main">
      <section class="hero">
        <div class="hero__content-wrapper">
  
          <article class="hero__content">
            <hr class="hero__divider divider">
            <h1 class="hero__heading">  Safe haven for all</h1>
            <p class="hero__text">  Together for each others safety and well being</p>
            <a href="#" class=" hero__btn btn btn--xs ">View posts</a>
          </article>
  
          <picture class="hero__image-wrapper">
            <source srcset="./assets/img/image-intro-mobile.jpg" media="(max-width:43em)">
            <source srcset="./assets/img/image-intro-desktop.jpg" media="(max-width:62em)">
            <img src="./assets/img/image-intro-desktop.jpg" alt="" class="hero__image">
          </picture>
  
        </div>
      </section><!-- End of hero -->
  
      <section class="features">
        <hr class="features__divider divider">
        <h2 class="features__heading">We’re different</h2>
        <div class="features__content-wrapper">
  
          <article class="features__feature feature">
            <img src="./assets/img/icon-snappy-process.svg" alt="" class="feature__image">
            <h3 class="feature__heading">  Security  and health</h3>
            <p class="feature__text"> Our serene neighbourhood is strategically located near police stations.
                Safety is ensured at all times.
            </p>
          </article>
          
  
          <article class="features__feature feature">
            <img src="./assets/img/icon-affordable-prices.svg" alt="" class="feature__image">
            <h3 class="feature__heading">  Business </h3>
            <p class="feature__text">  We have all the businesses around the neighbourhood listed, a vast variety for all needs
             </p>
          </article>
          
          <article class="features__feature feature">
            <img src="./assets/img/icon-people-first.svg" alt="" class="feature__image">
            <h3 class="feature__heading">  People First</h3>
            <p class="feature__text"> A friendly neighbourhood where everyones voice is heard  
              .</p>
          </article>
          
  
        </div>
  
      </section><!-- End of feature-->
  
      <section class="cta">
        <div class="cta__content-wrapper">
          <h2 class="cta__heading">Find out more on Emergency contacts </h2>
          <a href="#" class="cta__btn btn btn--xs"> contacts</a>
        </div>
      </section><!-- End of cta-->
    </main>
  </body>
  
